<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html"


>
<head>
    <meta charset="UTF-8">
    <title>client</title>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
<div layout:fragment="content">
<div class ="p-3">
    <form method="post" th:action="@{saveClient}" onsubmit="return validerFormulaire()">

        <div class ="p-3">
            <div class ="card">
                <div class="card-header">Renseignement Personnels</div>
                <div class="card-body">

                    <label id="demandeCredit">Demande de crédit :</label>




                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="demandeCredit" id="option1" value="ppr" required>
                        <label class="form-check-label" for="option1">PPR</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="demandeCredit" id="option2" value="horsConvention">
                        <label class="form-check-label" for="option2">HORS CONVENTION</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="demandeCredit" id="option3" value="regroupement">
                        <label class="form-check-label" for="option3">Regroupement</label>
                    </div>

                    <!-- Ajoutez l'input de type "hidden" ici pour stocker la valeur sélectionnée du radio bouton -->
                <input type="hidden" name="creditC" th:value="${client.demandeCredit}" />



               <div class="row mb-3">
                   <div class="col">
                       <label for="nom" class="form-label">Nom:</label>
                       <input type="text" class="form-control"  id="nom" th:value="${client.nom}" placeholder="Nom" name="nom" required>
                       <!-- th:value="${client.nom}"-->
                       <span class="text-danger" th:errors="${client.nom}" th:value="${client.nom}"></span>
                        </div>

                        <div class="col">
                            <label for="prenom" class="form-label">Prénom:</label>
                            <input type="text" class="form-control" id="prenom"  th:value="${client.prenom}" placeholder="Prénom" name="prenom" required>


                        </div>
                    </div>





                    <div class="row mb-3">
                        <div class="col">
                        <label for="dateNaissance" class="form-label">Date Naissance:</label>
                        <input type="date" class="form-control"  id="dateNaissance"  th:value="${client.dateNaissance}"  placeholder="Date Naissance" name="dateNaissance" required/>
                        </div>


                        <div class="col">
                            <label for="cin" class="form-label">CIN:</label>
                            <input type="text" class="form-control"  id="cin" th:value="${client.cin}" placeholder="cin" name="cin" required/>
                        </div>


                        <div class="col">
                            <label for="dateDelevrance" class="form-label">date Delivrance:</label>
                            <input type="date" class="form-control"  id="dateDelevrance" th:value="${client.dateDelevrance}" placeholder="" name="dateDelevrance" required/>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                           <label for="gsm" class="form-label">GSM:</label>
                            <input type="text" class="form-control"   id="gsm" th:value="${client.gsm}" placeholder="06********" name="gsm" required/>
                        </div>

                        <div class="col">
                            <label for="teld" class="form-label">Tel domicile:</label>
                            <input type="text" class="form-control" id="teld" th:value="${client.teld}" placeholder="05********" name="teld" required/>
                        </div>


                        <div class="col">
                            <div class="col">
                                <label for="telp" class="form-label">Tel professionnel:</label>
                                <input type="text" class="form-control"  id="telp" th:value="${client.telp}" placeholder="05********" name="telp" required/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="adresse" class="form-label">Adresse:</label>
                        <input type="text" class="form-control"  id="adresse" th:value="${client.adresse}" placeholder="Adresse" name="adresse" required/>
                    </div>


                    <div class="row mb-3">
                        <div class="col">
                            <label id="situatin_familiale">situation:</label>
                            <select class="form-select" id="situation_familiale">
                                <option value="célibataire" th:selected="${client.situation_familiale == 'célibataire'}">célibataire</option>
                                <option value="divorcé" th:selected="${client.situation_familiale == 'divorcé'}">divorcé</option>
                                <option value="marié" th:selected="${client.situation_familiale == 'marié'}">marié</option>
                                <option value="veuf" th:selected="${client.situation_familiale == 'veuf'}">veuf</option>
                            </select>

                        </div>



                        <div class="col">
                            <label for="nbrEnfant" class="form-label">Nombre enfant:</label>
                            <input type="text" class="form-control"  id="nbrEnfant" th:value="${client.nbrEnfant}" placeholder="Nombre enfant" name="nbrEnfant" required/>
                        </div>
                    </div>



                    <label id="habitation">Habitation:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="habitation" id="valeur1" value="locataire"
                               th:checked="${client.habitation == 'locataire'}" required>
                        <label class="form-check-label" for="valeur1">LOCATAIRE</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="habitation" id="valeur2" value="proprietaire"
                               th:checked="${client.habitation == 'proprietaire'}">
                        <label class="form-check-label" for="valeur2">PROPRIETAIRE</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="habitation" id="valeur3" value="logementFonction"
                               th:checked="${client.habitation == 'logementFonction'}">
                        <label class="form-check-label" for="valeur3">LOGEMENT DE FONCTION</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="habitation" id="valeur4" value="logementParents"
                               th:checked="${client.habitation == 'logementParents'}">
                        <label class="form-check-label" for="valeur4">LOGEMENT PARENTS</label>
                    </div>



                </div>
            </div>
        </div>






<!-- th:field="${profession.nomeE}"-->

    <div class ="p-3">
         <div class ="card">
            <div class="card-header">Renseignement professionels</div>
                 <div class="card-body">
                     <div class="form-group">
                         <label for="nomE">Nom de L'Etablissement</label>
                         <input type="text" class="form-control" id="nomE" th:field="${profession.nomE}"  placeholder="Etablissement" required>                     </div>

                     <div class="form-group">
                        <label for="fonction">Fonction</label>
                        <input type="text" class="form-control" id="fonction"  th:field="${profession.fonction}" placeholder="fonction" required>
                     </div>

                    <div class="form-group">
                        <label for="matricule">Matricule</label>
                        <input type="text" class="form-control" id="matricule" th:field="${profession.matricule}" placeholder="XXX123" required>
                    </div>

                    <div class="form-group">
                        <label for="dateEntrer">Date d'entree</label>
                        <input type="date" class="form-control" id="dateEntrer" th:field="${profession.dateEntrer}" placeholder="Date d'entree" required>
                    </div>

                </div>
            </div>
         </div>


        <div class ="p-3">
            <div class ="card">
                <div class="card-header">Reference bancaire</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="nrib">NRIB</label>
                        <input type="text" class="form-control" id="nrib" th:field="${banque.nrib}"  placeholder="NRIB" required>
                    </div>

                    <div class="form-group">
                        <label for="banque">Banque</label>
                        <input type="text" class="form-control" id="banque" th:field="${banque.banqueN}" placeholder="banque" required>
                    </div>

                    <div class="form-group">
                        <label for="telAgence">Tel Agence</label>
                        <input type="text" class="form-control" id="telAgence" th:field="${banque.telAgence}" placeholder="05********" required>
                    </div>



                </div>
            </div>
        </div>


        <div class ="p-3">
            <div class ="card">
                <div class="card-header">Financement demande</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="mantant">MANTANT</label>
                        <input type="number" class="form-control" id="mantant"  th:field="${credit.mantant}"  placeholder="" required>
                    </div>

                    <div class="form-group">
                        <label for="nbrEch">Nombre Echeance</label>
                        <input type="text" class="form-control" id="nbrEch"   th:field="${credit.nbrEch}" placeholder="" required>
                    </div>

                    <div class="form-group">
                        <label for="mensualite">Mensualite</label>
                        <input type="text" class="form-control" id="mensualite"  th:field="${credit.mensualite}" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label for="dateDemande" class="form-label">Date de Demande:</label>
                        <input type="date" class="form-control"  id="dateDemande"  th:field="${credit.dateDemande}"   placeholder="Date d'entree"   required/>
                    </div>



                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="reset" class="btn btn-primary" onclick="resetForm()">Delete</button>

</form>
</div>
<!--pour remplir tous les champs -->
<script>
    function validerFormulaire() {
        // Obtenir tous les éléments d'entrée du formulaire
        var inputs = document.getElementsByTagName("input");

        // Parcourir chaque élément d'entrée
        for (var i = 0; i < inputs.length; i++) {
            var input = inputs[i];

            // Vérifier si l'entrée est requise et si elle est vide
            if (input.hasAttribute("required") && input.value.trim() === "") {
                alert("Veuillez remplir tous les champs requis.");
                return false; // Empêcher l'envoi du formulaire
            }
        }

        // Si tous les champs requis sont remplis, permettre l'envoi du formulaire
        return true;
    }
    function resetForm() {
        document.getElementById("clientForm").reset();
    }
</script>
</div>
</body>
</html>